<div class="container" ng-controller="VehicleModelController" >
        <h1>Vehicle Model</h1>
        <div style="text-align: right">
            <a ui-sref="AddvehicleModel">Create Vehicle Model</a>
        </div>
        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <br />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-click="sort('VehicleModelId')" style="cursor:pointer">
                        ID
                        <span class="glyphicon sort-icon" ng-show="sortKey=='VehicleModelId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('VehicleMakeID')" style="cursor:pointer">
                        VehicleMakeID
                        <span class="glyphicon sort-icon" ng-show="sortKey=='VehicleMakeID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('Name')" style="cursor:pointer">
                        Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('Abrv')" style="cursor:pointer">
                        Abrv
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Abrv'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate ="model in models | filter:search | orderBy:sortKey:reverse | itemsPerPage:5">
                    <td>{{model.VehicleModelId}}</td>
                    <td>{{model.VehicleMakeId}}</td>
                    <td>{{model.Name}}</td>
                    <td>{{model.Abrv}}</td>
                   <td>
                       <a ui-sref="EditvehicleModel({VmdlId: model.VehicleModelId, VmkId: model.VehicleMakeId})">Edit</a>
                       <a ui-sref="DetailsvehicleModel({VmdlId: model.VehicleModelId})">Details</a>
                       <a ui-sref="DeletevehicleModel({VmdlId: model.VehicleModelId})">Delete</a><!---->
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
        <br />

         <button ui-sref="vehicleMake" class="btn">
             Vehicle Make
         </button>
    </div>
