<div class="container" ng-controller="VehicleMakeController" >
        <h1>Vehicle Make</h1>
        <div style="text-align: right">
            <a ui-sref="AddvehicleMake">Create Vehicle Make</a>
        </div>
        <form class="form-inline">
              <div class="form-group">
                  <label>Search</label>
                  <input type="text" ng-model="search" class="form-control" placeholder="Search">
              </div>
         </form>
        <br />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-click="sort('Id')" style="cursor:pointer">
                        Id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('Name')" style="cursor:pointer">
                        Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('Abrv')" style="cursor:pointer">
                        Abrv
                        <span class="glyphicon sort-icon" ng-show="sortKey=='Abrv'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="make in makes | itemsPerPage:5 | filter:search | orderBy:sortKey:reverse">
                    <td>{{make.VehicleMakeId}}</td>
                    <td>{{make.Name}}</td>
                    <td>{{make.Abrv}}</td>
                    <td>
                        <a ui-sref="EditvehicleMake({VmkId: make.VehicleMakeId})">Edit</a>
                        <a ui-sref="DetailsvehicleMake({VmkId: make.VehicleMakeId})">Details</a>
                        <a ui-sref="DeletevehicleMake({VmkId: make.VehicleMakeId})">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls 
                                 max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
        <br />
         <button ui-sref="vehicleModel" class="btn">
             Vehicle Model
         </button>
    </div>
